* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-color: #E1E2E2;
    --second-color: #1D2228;
    --third-color: #FB8122;
}

body {
    font-family: helvetica, arial, sans-serif;
    color: var(--third-color);
}

/* Header Start */
header {
    padding: 20px 35px;
    background-color: var(--second-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-image: url('../images/her-code.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    Z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--first-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a{
    color: var(--first-color);
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.3vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--third-color);
}

header nav ul li a:hover {
    background: var(--second-color);
    color: var(--first-color);
    border: 3px solid var(--third-color);
    border-radius: 15px;
    text-shadow: none;
}
/* Header End */

/* Footer Start */
footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: var(--second-color);
    color: var(--first-color);
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    font-size: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .75);
    text-align: center;
}

footer h2 a {
    text-decoration: none;
    color: var(--first-color)
}

footer h2 a:hover {
    color: var(--third-color);
}
/* Footer End */

/* Hero Start */
.hero {
    background-image: url('../images/her-code.jpg');
    background-size: cover;
    background-position: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-attachment: fixed;
    background-position: 80%;
    padding: 150px 0px 100px 0px;
    

}

.hero-set {
  width: auto;
}

.hero-set h2 {
    font-weight: bold;
    font-size: 50px;
    padding: 0px 40px 10px 0;
    color: var(--first-color);
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 1);
}

.hero-set p {
    font-style: italic;
    font-size: 20px;
    color: var(--third-color);
    padding: 10px 40px;
    text-align-last: right;
}

/*About Me Section*/

.container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about {
    background-color: var(--second-color);
}

.section-title {
    color: var(--first-color);
    font-size: 45px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
    margin: auto;
    width: 100%;
}

.about-me {
    display: flex;
    padding: auto;
    justify-content: space-evenly;
}

.about-me p {
    width: 40%;
    margin-bottom: 15px;
    color: var(--third-color);
    line-height: 1.7;
    font-size: 20px;
    padding: 100px 0;
    text-align: center;
}
.about-img {
    margin: 0 10px;
}

.about-img img {
    max-width: 300px;
    padding: auto;
    border: 3px solid var(--third-color);
    border-radius: 15px;
}


/* My Work Section */

.section-title-2 {
    color: var(--first-color);
    font-size: 45px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-top: 15px;
    text-align: center;
    margin: auto auto 20px auto;
    width: 50%;
}

.work {
    background-color: var(--second-color);
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-one {
    flex: 1 100%;
    border: 3px solid var(--third-color);
    position: relative;
    display: inline-block;
    padding: 0 30px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.work-one img {
    max-width: 100%;
    display: block;
}

.work-one a {
    flex: 0 0 50%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
}

.work-next {
    flex: 1 40%;
    border: 3px solid var(--third-color);
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    padding: 0 30px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.text {
    position: relative;
    top: 60%;
}

.run-buddy {
    background-image: url("../images/run-buddy.jpg");
    background-size: cover;
    height: 400px;
    width: 400px; 
}

.horiseon {
    background-image: url("../images/horiseon.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
}

.brainy-recipes {
    background-image: url("../images/brainy-recipes.png");
    background-size: cover;
    height: 200px;
    width: 200px;
    background-position: top;
}

.workday-scheduler {
    background-image: url("../images/workday-scheduler.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
    background-position: top;
}


.readme-generator {
    background-image: url("../images/readme-generator.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
    background-position: center;
}


/* Hover for my work*/
.work-one:hover, .work-next:hover {
    opacity: 0.8;
}

/* In order to make my links clickable */

.work-one a, .work-next a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 9900;
}

.text {
    margin: 5px;
    display: inline-block;
    padding: 5px;
    background-color: var(--third-color);
}

.text h3 {
    line-height: 1.7;
    font-size: 20px;
    color: var(--first-color);
    font-weight: bold;
    text-align: center;
}

.text p {
    line-height: 1.3;
    font-size:15px;
    color: var(--second-color);
    font-style: italic;
    text-align: center;
}
/* My Work Section Complete */

/*Contact Me section Start*/
.contact {
    background-color: var(--second-color);
}

.contact-me {
    display: flex;
    flex-wrap: wrap;
    flex: 1 100%;
    padding: 15px auto;
}

.contact-me p {
    font-size: 17px;
    margin: 15px;
    line-height: 1.3;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.contact-me a {
    text-decoration: none;
    color: var(--third-color);
}

.contact-me a:hover {
    border: 3px dashed var(--first-color);
    font-style: oblique;
    font-weight: lighter;
    background-color: var(--third-color);
    color: var(--first-color);
}

/* Contact Me Section End */

/* Media Query */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 16px;
    }

    footer h2 {
        text-align: center;
        width: 100%;
    }

    .hero {
        margin-bottom: 0;
    }

    .hero-set h2, .hero-set p {
        text-align: center;
        padding: 10px 40px 10px 40px;
    }

    .section-title, .section-title-2 {
        width: 80%;
        text-align: center;
    }

    .container {
        margin: auto;
        text-align: center;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex: 0 100%;
        align-items: flex-start;
        justify-content: center;
    }

    .about-me {
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .about-img {
        display: flex;
        justify-content: center;
    }

    .about-img img {
        padding: 20px 40px 15px 40px;
    }

    .img-container {
        display: flex;
        flex: 1 100%;
        width: 100%;
        min-width: auto;
        margin: 5px;
        padding: auto;
    }
}

@media screen and (max-width: 768px) {
    .hero-set p {
        margin: auto;
        width: 60%;
        padding: 20px;
    }

    .run-buddy {
        background-size: cover;
        background-position: top left;
    }
}

@media screen and (max-width: 575px ) {
    .section-title, .section-title-2 {
        font-size: 26px;
    }

    footer h2 {
        font-size: 18px;
    }

    header nav ul {
        justify-content: center;
        margin-top: 10px;
    }

    header nav ul li a {
        font-size: 15px;
        padding: 7px;
    }

    .hero-set h2 {
        font-size: 40px;
    }

    .hero-set p {
        width: 65%;
        font-size: 15px;
    }

    .contact-me p {
        font-size: 15px;
    }

    .run-buddy {
        background-position: top center;
    }
}